body {
    background: hsl(10, 73%, 82%);
    background-repeat: repeat-x;

}
.Chapter {
    text-align: center;
    font-family: 'Lora', serif;
    padding: 0.20rem;
    margin: 0.15rem;
}

.hello  {
    text-align: center;
    font-weight: bold;
    font-family: 'Lora', serif;
    font-size: 30px;
}

article p {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'Lora', serif;
    line-height: 1.7;
}   

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
   }

.Fcon {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;

}

@media only screen and (min-width: 200px) {
    .Fcon {
        display: flex;
        flex-flow: row wrap;
        justify-content:left;
        align-items: center;
    }
}

.background {
    position: relative;
    height: 22em;
    width: 15em;
    padding: 1.11rem;
    border-radius: 5px;
    margin: 2em auto;
    background-color: white;
}

.Ezra1 {
    height: 90%;
    width: 100%;
}

.caption {
    bottom: 35px;
    font-family: 'Lora', serif;
    font-style: italic;
}